[Unit]
Description=Homepage
After=socket-proxy.service
Requires=socket-proxy.service

[Container]
AutoUpdate=registry
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest
Pod=homepage.pod

EnvironmentFile=%h/.config/homepage/.env
Environment=LOG_LEVEL=debug

Volume=%h/.config/homepage/config:/app/config

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
