[Unit]
Description=Homepage

[Container]
AutoUpdate=registry
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest
PublishPort=4663:3000

EnvironmentFile=%h/homepage/.env
Environment=LOG_LEVEL=debug

Volume=%h/homepage/config:/app/config
Volume=/run/user/1000/podman/podman.sock:/var/run/podman.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
