# select a revision to deploy, available values: stable, beta, canary
AFFINE_REVISION=stable

# set the port for the server container it will expose the server on
PORT=3010

# position of the database data to persist
DB_DATA_LOCATION=
# position of the upload data(images, files, etc.) to persist
UPLOAD_LOCATION=
# position of the configuration files to persist
CONFIG_LOCATION=

# database credentials
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# migration job
AFFINE_INDEXER_ENABLED=false

# db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

POSTGRES_INITDB_ARGS=--data-checksums
POSTGRES_HOST_AUTH_METHOD=

# redis
REDIS_SERVER_HOST=localhost
