[Container]
Pod=affine.pod

AutoUpdate=registry
ContainerName=affine_postgres
Image=docker.io/pgvector/pgvector:pg16

EnvironmentFile=%h/affine/.env

HealthCmd=pg_isready
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
Notify=healthy

Volume=%h/affine/postgres:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
