/**
 * Borealis Colors to be used by ROFI themes
 */

* {
    purple:                 #723d71;
    purple-50:              #723d7180;
    green:                  #7b926f;
    red:                    #b30000;
    grey-light:             #c1c1c1;
    grey-dark:              #222;
    grey-dark-50:           #22222280;
}
