/**
 * Borealis Colors to be used by ROFI themes
 */

@import "general.rasi"

* {
    primary:                 #723d71;
    primary-alt:              #723d7180;
    text:                  #7b926f;
    accent:                    #b30000;
    background:             @grey-dark-50;
    background-alt:             @primary-alt;
    selected-background:    @grey-dark;
    active-foreground:      #000;
    border-color:           @grey;
}
