/**
 * Custom Colors based on character Chjara to be used by ROFI themes
 * a8a8a8
 */

@import "general.rasi"

* {
    primary:                 #eb8d04;
    primary-alt:             @grey-dark-80;
    text:                    #850200;
    accent:                    @primary;
    background:             #08013080;
    background-alt:             @primary-alt;
    selected-background:    #000;
    active-foreground:      @primary;
    border-color:           @primary;
}
