/* Default configuration */
@import "colorschemes/colors.rasi"

configuration {
    show-icons:                     false;
    font:                           "DejaVu Sans 20";
    /* -------------- Key Bindings -------------- */
    kb-row-down:	                  "Alt-n,Alt-j";
    kb-row-left:	                  "Alt-h";
    kb-row-right:	                  "Alt-l";
    kb-row-up:	                    "Alt-p,Alt-k";
}

* {
    background-color:               transparent;
    spacing:                        2;
    transparency:                   "real";
}

window {
    background-color:               @background;
    height:                         0;
    width:                          40ch;
}

element {
    orientation:                    horizontal;
    padding:                        8 0;
}

element-text {
    font:                           "Material Icons 40";
    horizontal-align:               0.5;
    vertical-align:                 0.5;
}

element selected {
    background-color:               @selected-background;
    border:                         0 0 2 0;
    border-radius:                  8;
}

element-text selected {
    color:                          @primary;
}

/* vim:ft=css
