/**
 * Generic Colors to be shared by ROFI color themes
 */

* {
    grey:                     #c1c1c1;
    grey-dark:                #222;
    grey-dark-50:             #22222280;
    grey-dark-80:             #222222cc;
}
