/*
 * ROFI theme for application launcher
 * Based on theme by adi1090x:
 * https://github.com/ManuLosta/dotfiles/blob/master/August-2020/.config/rofi/launchers-git/appdrawer.rasi
 */
@theme "config.rasi"

configuration {
  display-drun:               "";
  drun-display-format:        "{name}";
  font:                       "DejaVu Sans 14";
  show-icons:                 true;
}

window {
  border:                     2;
  border-color:               @text-color;
  border-radius:              16;
  children:                   [ inputbar, listview ];
  padding:                    13 20;
  spacing:                    10;
}

inputbar {
  background-color:           @background;
  children:                   [ prompt, entry ];
  border-radius:              30;
}

prompt {
  font:                       "Material Icons 20";
  margin:                     8 0 0 15;
}

entry {
  padding:                    10 10 10 0;
  placeholder-color:          @text-color;
  text-color:                 @primary;
}

listview {
  columns:                    2;
  spacing:                    4;
  lines:                      4;
}

element {
  orientation:                vertical;
}

element-icon {
  padding:                    6;
  size:                       50;
}

element-text {
  font:                       "DejaVu Sans 12";
}

element selected {
  border-color:               @primary;
}

element-text selected {
  color:                      @text-color;
}

/* vim:ft=css
