/**
 * Custom Colors based on character Chjara to be used by ROFI themes
 * a8a8a8
 */

@import "general.rasi"

* {
    primary:                 #ff5fad;
    primary-alt:             @grey-dark-80;
    text:                    #b5e2ff;
    accent:                  @primary;
    background:              #1d007d80;
    background-alt:          @primary-alt;
    selected-background:     #1d007d;
    active-foreground:       @primary;
    border-color:            @text;
}
