@import "launcher.rasi"

window {
  height:                     30%;
  location:                   northeast;
  width:                      20%;
  x-offset:                   -140;
}

entry {
  margin:                     0 7;
  placeholder:                "Network";
}

element {
  padding:                    5 10;
}

element-icon {
  enabled:                    false;
}

element-text {
  horizontal-align:           0;
}

element selected {
  border:                     0;
}

/* vim:ft=css
