@theme "launcher.rasi"

window {
  location:                   northeast;
  width:                      30ch;
  x-offset:                   -3.5ch;
  y-offset:                   3.5ch;
}

entry {
  margin:                     0 7;
  placeholder:                "Network";
}

element {
  padding:                    5 10;
}

element-icon {
  enabled:                    false;
}

element-text {
  horizontal-align:           0;
}

element selected {
  border:                     0;
}

/* vim:ft=css
