@import "launcher.rasi"

window {
    border:                     2;
    height:                     30%;
    location:                   northeast;
    width:                      20%;
    x-offset:                   -140;
}

entry {
    placeholder:                "Network";
}

element selected {
    border:                     0;
    text-color:                 #000;
}

/* vim:ft=css
