KARAKEEP_VERSION=release
NEXTAUTH_SECRET=
MEILI_MASTER_KEY=
NEXTAUTH_URL=http://localhost:3000

MEILI_ADDR=http://meilisearch:7700
BROWSER_WEB_URL=http://chrome:9222
DATA_DIR=/data

MEILI_NO_ANALYTICS=true
