[Container]
Pod=karakeep.pod

Image=docker.io/getmeili/meilisearch:v1.13.3
AutoUpdate=registry

EnvironmentFile=%h/karakeep/.env
Volume=meilisearch:/meili_data

[Service]
Restart=always
