HOMEPAGE_ALLOWED_HOSTS=

HOMEPAGE_VAR_TAILNET=
HOMEPAGE_VAR_LAT=
HOMEPAGE_VAR_LON=

HOMEPAGE_VAR_IMMICH_PORT=2283
HOMEPAGE_VAR_IMMICH_API_KEY=

HOMEPAGE_VAR_KARAKEEP_PORT=3000
HOMEPAGE_VAR_KARAKEEP_API_KEY=

HOMEPAGE_VAR_MEALIE_PORT=9925
HOMEPAGE_VAR_MEALIE_API_KEY=

HOMEPAGE_VAR_AFFINE_PORT=3010

HOMEPAGE_VAR_PIHOLE_HOST=
HOMEPAGE_VAR_PIHOLE_APP_PW=

HOMEPAGE_VAR_PNAME=
HOMEPAGE_VAR_ONAME=
HOMEPAGE_VAR_KUMA_PORT=3001
HOMEPAGE_VAR_GLANCES_PORT=
HOMEPAGE_VAR_PGL_DISK=
HOMEPAGE_VAR_OGL_DISK=

HOMEPAGE_VAR_CAL_URL=
HOMEPAGE_VAR_CAL_TZ=
HOMEPAGE_VAR_CAL_INTEGRATION_URL=

HOMEPAGE_VAR_ROCKBOT_LINK=
HOMEPAGE_VAR_ROCKBOT_DESC=

HOMEPAGE_VAR_CONVERTX_PORT=2889

HOMEPAGE_VAR_NAVI_PORT=4533
HOMEPAGE_VAR_NAVI_USER=
HOMEPAGE_VAR_NAVI_API_KEY=
HOMEPAGE_VAR_NAVI_SALT=
