[Container]
ContainerName=ntfy
Image=docker.io/binwiederhier/ntfy:latest

# ntfy needs to be told to serve
Exec=serve

EnvironmentFile=%h/ntfy/.env

Volume=%h/ntfy/cache:/var/cache/ntfy
Volume=%h/ntfy/config:/etc/ntfy

PublishPort=6839:80

HealthCmd=wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '"healthy"\s*:\s*true' || exit 1
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=40s

[Service]
Restart=always

[Install]
WantedBy=default.target
