[Container]
AutoUpdate=registry
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:latest
PublishPort=3001:3001
Volume=%h/uptime-kuma/data:/app/data

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
