/**
 * Borealis Colors to be used by ROFI themes
 */

@import "general.rasi"

* {
  primary:                #7b926f;
  secondary:              #723d71;
  text-color:             #dfdfdf;
  accent:                 #b30000;
  background:             @grey50;
  background-alt:         @grey80;
  selected-background:    #723d71cc;
  border-color:           @text-color;
}

/* vim:ft=css
