/* Custom Colors based on character Chjara to be used by ROFI themes */

@import "general.rasi"

* {
    primary:                 #eb8d04;
    secondary:               #a8a8a8;
    text:                    #850200;
    accent:                    @primary;
    background:             #08013080;
    background-alt:         @grey-dark-80;
    selected-background:    #000;
    active-foreground:      @primary;
    border-color:           @primary;
}

/* vim:ft=css */
