/* Custom Colors based on character Chjara to be used by ROFI themes */

@import "general.rasi"

* {
  primary:                #eb8d04;
  secondary:              #222;
  text-color:             #850200;
  accent:                 @primary;
  background:             @grey80;
  background-alt:         #08013099;
  selected-background:    black;
  border-color:           @primary;
}

/* vim:ft=css
