/* Custom Colors based on "the_eye_of_the_storm" art to be used by ROFI themes */

* {
  primary:                 #cf9115;
  secondary:               #080130;
  text-color:              #feffa5;
  accent:                  @primary;
  background:              #080130bf;
  background-alt:          #400011cc;
  selected-background:     #400011d9;
  border-color:            @text-color;
}

/* vim:ft=css
