/* Custom Colors based on characters Maqi and A to be used by ROFI themes */

@import "general.rasi"

* {
  primary:                 #ff5fad;
  secondary:               #00008b;
  text-color:              #b5e2ff;
  accent:                  @primary;
  background:              @grey80;
  background-alt:          #1d007dbf;
  selected-background:     #1d007dcc;
  border-color:            @text-color;
}

/* vim:ft=css
