/* Custom Colors based on characters Maqi and A to be used by ROFI themes */

@import "general.rasi"

* {
  primary:                 #ff5fad;
  secondary:               #00008b;
  text-color:              #b5e2ff;
  background:              @grey80;
  background-alt:          #1d007dbf;
  selected-background:     #1d007dcc;
  border-color:            @text-color;
  accent-subtle:           #ff5fad33;
  accent-border:           #ff5fadbf;
  secondary-subtle:        #00008b66;
}

/* vim:ft=css
