/* Nikhita Colors to be used by ROFI themes */

@import "general.rasi"

* {
  primary:                #0f0;
  secondary:              black;
  text-color:             #d534b8;
  accent:                 @secondary;
  background:             @grey50;
  background-alt:         #5d078680;
  selected-background:    #4d4d4d;
  border-color:           #c1c1c1;
}

/* vim:ft=css
