SRC=/path/to/source
REMOTE=user@host
DEST=/path/to/dest

# for each service in DUMP_SERVICES, add the following variables:
#   <SERVICE>_CONTAINER - container name running postgres
#   <SERVICE>_USER      - postgres user
#   <SERVICE>_DB        - database name
#   <SERVICE>_DUMP_PATH - where to store the dump
DUMP_SERVICES="service1 service2"

SSH_KEY=/path/to/ssh/key
EXCLUDE=path/to/file/relative/to/source

NTFY_URL=
NTFY_TOPIC=
NTFY_TOKEN=
