[Container]
Pod=immich.pod
ContainerName=immich-machine-learning
Image=ghcr.io/immich-app/immich-machine-learning:release

EnvironmentFile=%h/immich/.env
Volume=model-cache:/cache

HealthCmd=["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3003"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
