[Container]
Pod=immich.pod
ContainerName=immich_postgres

EnvironmentFile=%h/immich/.env
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0

Volume=%h/immich/postgres:/var/lib/postgresql/data

HealthCmd=pg_isready
HealthInterval=30s
HealthTimeout=20s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
