PRIMARY=http://PRIMARY_HOST|PRIMARY_PASSWORD
REPLICAS=http://REPLICA_HOST|REPLICA_PASSWORD
FULL_SYNC=false
SYNC_CONFIG_DNS=true
SYNC_GRAVITY_AD_LIST=true
SYNC_GRAVITY_DOMAIN_LIST=true
RUN_GRAVITY=true
CRON=0 */6 * * *
